@import '../styles/variables.css';
@import '../styles/reset.css';
@import '../styles/layout.css';
@import '../styles/buttons.css';
@import '../styles/cards.css';
@import '../styles/forms.css';
@import '../styles/tables.css';
@import '../styles/badges.css';
@import '../styles/modals.css';
@import '../styles/modals/customer-profile.css';
@import '../styles/toast.css';
@import '../styles/charts/index.css';
@import '../styles/pages/sellers.css';
@import '../styles/utilities.css';
